table {
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: darkslategray;
    color: white;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}

.page--material, .page--material__background {
    background-color: white;
}

#qrPage .page__content.page--material__content,
#qrPage .page__background.page--material__background {
    background-color: transparent !important;
    
}